body {
  font-family: "Space Mono", monospace;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* card animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
}

.fade-in.active {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
/*  */
.login-blank-container {
  /* background-image: url("process.public/login-blank.avif"); */
}
.login-form-container {
  /* background-image: url("process.public/container-login-bg.avif"); */
}
