body {
  font-family: "Space Mono", monospace;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pointer {
  cursor: pointer;
}

.mail {
  font-family: "Roboto";
}

/* card animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
}

.fade-in.active {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

/*  */
.login-blank-container {
  background-image: url("/data/login-blank.avif");
  background-size: cover;
  background-position: center;
}
.login-form-container {
  /* background-image: url("/data/container-login-bg.avif"); */
  background-size: cover;
  background-position: center;
}
